%div{:id => "bill_#{bill.id}", :class => [:bill, bill.view_class]}
  %div{:class => :description}= bill.description
  %div{:class => :payable_to}= bill.payable_to
  %div{:class => :due_date}= localize bill.due_date
  %div{:class => :amount}= bill.amount
  %div{:class => :edit_link}= link_to "Edit",edit_bill_path(bill), :remote => true
  %div{:class => :destroy_link}= link_to "Delete", bill, :method => :delete, :confirm => "Are you sure?", :remote => true
