= simple_form_for bill, :remote => true do |f|
  = f.input :description
  = f.input :payable_to
  = f.input :due_date
  = f.input :amount
  = f.check_box :payed?
  %div{:style => "display:inline-block"}
    = link_to "New", new_bill_path, :remote => true, :class => :button
    = f.button :submit,"Save", :class => :button
:javascript
  $(function(){
    var availableTags = #{(@bills.distinct(:payable_to).to_json)};
    $("#bill_payable_to").autocomplete({source: availableTags});
  });

