= simple_form_for bill, :remote => true do |f|
  = f.input :description
  = f.input :payable_to
  = f.input :due_date
  = f.input :amount
  = f.button :submit
:javascript
  $(function(){
    var availableTags = #{(@bills.distinct(:payable_to).to_json)};
    $("#bill_payable_to").autocomplete({source: availableTags});
  });

