- if @bill.errors.any?
  $("#notice").hide(300);
  $("#errors").html("#{escape_javascript(error_messages_for(@bill))}")
  $("#errors").show(300);
- else
  $("#bill_#{@bill.id}").replaceWith("#{escape_javascript(render :partial => 'bill', :locals => {:bill => @bill})}")

  $("#errors").hide(300);
  $("#notice").html("#{escape_javascript(flash[:notice])}")
  $("#notice").show(300)
  $("#form").html("#{escape_javascript(render :partial => 'form', :locals => {:bill => Bill.new})}")

