!!! 5
%html
  %head
    %title Bills
    = include_stylesheets :app 
    = csrf_meta_tag
    
  %body
    #content
      #user_nav
        - if user_signed_in?
          Signed in as #{current_user.email}
          = link_to "Sign out", destroy_user_session_path
      =yield
    = include_javascripts :application
    - if render_google_analytics?
      :javascript
        _gaq.push(['_setAccount', 'UA-18494916-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
